@model IList<Kladr.Models.ApplicationUser>
@{
    ViewBag.Title = "Письмо";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Уважаемые пользователи сервиса!</h2>

<div class="panel panel-default">
    <div class="panel-heading">Отправляем вам ваши учётные данные</div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Email</th>
                <th>Регион</th>
                <th>Нас. пункт</th>
                <th>Улица</th>
                <th>Дом</th>
                <th>Квартира</th>
                <th>Индекс</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        @if (user.Region != null)
                        {
                            @user.Region
                        }
                        else
                        {
                            <p>?</p>
                        }
                    </td>
                    <td>
                        @if (user.Settlement != null)
                        {
                            @user.Settlement
                        }
                        else
                        {
                            <p>?</p>
                        }
                    </td>
                    <td>
                        @if (user.Street != null)
                        {
                            @user.Street
                        }
                        else
                        {
                            <p>?</p>
                        }
                    </td>
                    <td>
                        @if (user.House != null)
                        {
                            @user.House
                        }
                        else
                        {
                            <p>?</p>
                        }
                    </td>
                    <td>
                        @if (user.Flat != null)
                        {
                            @user.Flat
                        }
                        else
                        {
                            <p>?</p>
                        }
                    </td>
                    <td>
                        @if (user.Index != null)
                        {
                            @user.Index
                        }
                        else
                        {
                            <p>?</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="btn-group">
    <button class="btn btn-default" onclick="print()">Печать</button>
</div>

