@model IList<Kladr.Models.ApplicationUser>
@{
    ViewBag.Title = "Статистика по пользователям";
}

<h2>@ViewBag.Title</h2>

@if (Model.Count > 0)
{
    <p>Выберите пользователей, чтобы сформировать для них письмо</p>
    using (Html.BeginForm("Letter", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <select class="col-md-10" multiple name="SelectedUsersEmails[]" size="8">
                @foreach (var user in Model)
                {
                    <option value="@user.Email">@user.Email</option>
                }
            </select>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-default" value="Сформировать письмо" />
            </div>
        </div>
    }
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">Все пользователи сервиса</div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Регион</th>
                    <th>Нас. пункт</th>
                    <th>Улица</th>
                    <th>Дом</th>
                    <th>Квартира</th>
                    <th>Индекс</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>
                            @if (user.Region != null)
                            {
                                @user.Region
                            }
                            else
                            {
                                <p>?</p>
                            }
                        </td>
                        <td>
                            @if (user.Settlement != null)
                            {
                                @user.Settlement
                            }
                            else
                            {
                                <p>?</p>
                            }
                        </td>
                        <td>
                            @if (user.Street != null)
                            {
                                @user.Street
                            }
                            else
                            {
                                <p>?</p>
                            }
                        </td>
                        <td>
                            @if (user.House != null)
                            {
                                @user.House
                            }
                            else
                            {
                                <p>?</p>
                            }
                        </td>
                        <td>
                            @if (user.Flat != null)
                            {
                                @user.Flat
                            }
                            else
                            {
                                <p>?</p>
                            }
                        </td>
                        <td>
                            @if (user.Index != null)
                            {
                                @user.Index
                            }
                            else
                            {
                                <p>?</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Нет ни одного пользователя</p>
}
